li
  = link_to renderer.archive.year, archives_path(renderer.archive.year)
  = content_tag(:ul, render(partial: 'cloudpress/archives/month', collection: renderer.archive.months, locals: {renderer: renderer}))